<form class="form-horizontal" [formGroup]="systemsettingForm" (ngSubmit)="onSubmit()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">System Settings</h3>
        </div>
        <div class="panel-body">

            <!-- <div class="form-group" [ngClass]="{'has-error': ((systemsettingForm.get('fullName').touched ||
            systemsettingForm.get('fullName').dirty) &&
            systemsettingForm.get('fullName').errors)}">
                <label class="col-sm-2 control-label" for="fullName">Full Name</label>
                <div class="col-sm-8">
                    <input id="fullName" type="text" class="form-control" formControlName="fullName">
                    <span class="help-block" *ngIf="((systemsettingForm.get('fullName').touched ||
                              systemsettingForm.get('fullName').dirty) &&
                              systemsettingForm.get('fullName').errors)">
                        <span *ngIf="systemsettingForm.get('fullName').errors.required">Full Name is required</span>
                        <span *ngIf="systemsettingForm.get('fullName').errors.minlength ||
                          systemsettingForm.get('fullName').errors.maxlength">
                            Full Name must be greater than 2 characters and less than 10 characters
                        </span>
                    </span>
                </div>
            </div> -->

            <div class="form-group" [ngClass]="{'has-error': formErrors.fullName}">
                <label class="col-sm-2 control-label" for="fullName">Full Name</label>
                <div class="col-sm-8">
                    <input id="fullName" type="text" class="form-control" formControlName="fullName"
                        (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.fullName">
                        {{formErrors.fullName}}
                    </span>
                </div>
            </div>

            <!-- <div class="form-group" [ngClass]="{'has-error': formErrors.email}">
                <label class="col-sm-2 control-label" for="email">Email</label>
                <div class="col-sm-8">
                    <input id="email" type="text" class="form-control" formControlName="email"
                        (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.email">{{formErrors.email}}</span>
                </div>
            </div> -->

            <!-- Notice the click event handler on both the radio buttons. When "Email"
radio button is clicked "email" string is passed to the event handler
function. Similarly, when "Phone" radio button is clicked "phone"
string is passed to the event handler function -->

            <div class="form-group">
                <label class="col-md-2 control-label">Contact Preference</label>
                <div class="col-md-8">
                    <label class="radio-inline">
                        <input type="radio" value="email" formControlName="contactPreference"
                            (click)="onContactPrefernceChange('email')">Email
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="phone" formControlName="contactPreference"
                            (click)="onContactPrefernceChange('phone')">Phone
                    </label>
                </div>
            </div>
            <div formGroupName="emailGroup">
                
                <!-- Email input element -->
                <div class="form-group" [ngClass]="{'has-error': formErrors.email}">
                    <label class="col-sm-2 control-label" for="email">Email</label>
                    <div class="col-sm-8">
            
                        <!-- Error Message in Component -->
                        <input id="email" type="text" class="form-control" formControlName="email" (blur)="logValidationErrors()">
                        <span class="help-block" *ngIf="formErrors.email">
                            {{formErrors.email}}
                        </span>
            
                        <!-- Error Message in Template -->
                        <!-- <span *ngIf="employeeForm.get('email').errors.emailDomain">
                                        Email domian should be prgaimtech.com
                                </span> -->
            
                    </div>
                </div>
            
                <!-- Confirm Email input element -->
                <div class="form-group" [ngClass]="{'has-error': formErrors.confirmEmail
                                                            || formErrors.emailGroup}">
                    <label class="col-sm-2 control-label" for="confirmEmail">
                        Confirm Email
                    </label>
                    <div class="col-sm-8">
                        <input id="confirmEmail" type="text" class="form-control" formControlName="confirmEmail"
                            (blur)="logValidationErrors()">
                        <span class="help-block" *ngIf="formErrors.confirmEmail || formErrors.emailGroup">
                            {{formErrors.confirmEmail ? formErrors.confirmEmail
                      : formErrors.emailGroup}}
                        </span>
                    </div>
                </div>

            </div>

            <!-- Phone input element -->
            <div class="form-group" [ngClass]="{'has-error': formErrors.phone}">
                <label class="col-sm-2 control-label" for="email">Phone</label>
                <div class="col-sm-8">
                    <input id="phone" type="text" class="form-control" formControlName="phone"
                        (blur)="logValidationErrors()">
                    <span class="help-block" *ngIf="formErrors.phone">
                        {{formErrors.phone}}
                    </span>
                </div>
            </div>

            <div class="well">
                <div formArrayName="skills" *ngFor="let skill of systemsettingForm.get('skills')['controls']; let i = index">
                        <!-- myForm.get('<formGroupName>').get('<formControlName>').hasError('required') -->
                    <div formGroupName="i">
                        
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-4">
                                <button type="button" class="btn btn-primary" (click)="addSkillButtonClick()">
                                    Add Skill
                                </button>
                            </div>
                        </div>
            
                        <div class="form-group" [ngClass]="{'has-error': formErrors.skillName}">
                            <label class="col-sm-2 control-label" for="skillName">Skill</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="skillName" formControlName="skillName"
                                    (blur)="logValidationErrors()" placeholder="C#, Java, Angular etc...">
                                <span class="help-block" *ngIf="formErrors.skillName">{{formErrors.skillName}}</span>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': formErrors.experienceInYears}">
                            <label class="col-sm-2 control-label" for="experienceInYears">Experience</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="experienceInYears" formControlName="experienceInYears"
                                    placeholder="In Years" (blur)="logValidationErrors()">
                                <span class="help-block" *ngIf="formErrors.experienceInYears">
                                    {{formErrors.experienceInYears}}</span>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': formErrors.proficiency}">
                            <label class="col-md-2 control-label">Proficiency</label>
                            <div class="col-md-8">
                                <label class="radio-inline">
                                    <input type="radio" value="beginner" formControlName="proficiency"
                                        (blur)="logValidationErrors()">Beginner
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="intermediate" formControlName="proficiency"
                                        (blur)="logValidationErrors()">Intermediate
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="advanced" formControlName="proficiency"
                                        (blur)="logValidationErrors()">Advanced
                                </label>
                                <span class="help-block" *ngIf="formErrors.experienceInYears">
                                    {{formErrors.proficiency}} </span>
                            </div>
                        </div>
            
            
            
            
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit" style="margin-right: 10px">Save</button>
            <button class="btn btn-primary" type="button" style="margin-right: 10px" (click)="onValidateFormClick()">
                Validate Form</button>
            <button class="btn btn-primary" type="button" style="margin-right: 10px" (click)="onSetValueClick()">Set
                Value</button>
            <button class="btn btn-primary" type="button" style="margin-right: 10px" (click)="onPatchValueClick()">Patch
                Value</button>

        </div>
        <div>
            <table border="1" style="width: 100%">
                <tr>
                    <th style="padding: 10px">FormGroup</th>
                </tr>
                <tr>
                    <td style="padding: 10px">
                        touched : {{ systemsettingForm.touched }}<br />
                        dirty : {{ systemsettingForm.dirty }}<br />
                        valid : {{ systemsettingForm.valid }}<br />
                        Form Values : {{systemsettingForm.value | json}} <br />
                    </td>
                </tr>
                <tr>
                    <th style="padding: 10px">FormControl (fullName)</th>
                </tr>
                <tr>
                    <td style="padding: 10px">
                        touched : {{ systemsettingForm.get('fullName').touched }}<br />
                        dirty : {{ systemsettingForm.get('fullName').dirty }}<br />
                        valid : {{ systemsettingForm.get('fullName').valid }}<br />
                        FullName Value : {{systemsettingForm.get('fullName').value}}<br />
                    </td>
                </tr>
            </table>

        </div>
    </div>
</form>